#header{
    background-color: #283542;
    border-bottom: none;
}

#header .am-topbar-btn{
    display: none !important;
}

#header-setting-nav{
    float: right;
    margin: 0;
}

#top-logo{
    width: 32px;
    height: 32px;
    margin: -2px .6rem 0 .6rem;
}

#nav-brand{
    float: left;
    height: 49px;
    line-height: 48px;
}

#top-title{
    font-size: 1em;
}