#sidebar{
    position: absolute;
    top:0;
    left:0;
    width: 149px;
    border-right: 1px solid #DDD;
    height: 100%;
    background-color: #e2eef7;
}

#sidebar-nav{
    margin-top: 52px;
}

#sidebar-nav a[icon]:before{
    padding: 0 .5em;
}

#sidebar-nav a:hover{
    background: transparent;
}